@import "../core/color";
@import "../core/typography";

//Overarching container of task header and tasks
.task-list {
    display: grid;
    flex-direction: column;
}

//Input box to write task
.task-list--input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $white-opacity-10;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 10px 40px;
    margin-top: 10px;

    input {
        width: 90%;
        font-size: 14px;
        border-radius: 8px 0px 0px 8px;
        border: 1px solid whitesmoke;
        padding: 10px;
        height: 40px;
        
        &:focus {
            outline: none;
        }
    }

//Add task button    
    .task-list--addBtn {
        padding: 9px 12px;
        border: 2px solid whitesmoke;
        border-radius: 0px 8px 8px 0px;
        font-family: $font-heading;
        color: whitesmoke;
        font-size: 14px;
        cursor: pointer;
        font-weight: 800;
        transition: all 0.1s ease;
        background-color: $tomato-darker;

        &:hover {
            background-color: $dark-gray;
        }
    }
}

//remove browser ul styling
ul {
    padding-inline-start: 0px;
}

//Task styling
.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white-opacity-10;
    border-radius: 8px;
    border-left: 1px solid $dark-gray;
    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 37px;
    padding-right: 10px;
    color: white;
    font-family: $font-body;
    transition: all 0.3s ease;
}

.task-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white-opacity-10;
    border-radius: 8px;
    border-left: 5px solid $dark-gray;
    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 37px;
    padding-right: 10px;
    color: white;
    font-family: $font-body;
    transition: all 0.3s ease;
}

//remove list dots and push buttons to right
.task li{
    list-style: none;
    flex: 1;
}

.task-list--task-badge{
    display: inline-block;
    padding: 10px;
    color: $dark-gray;
    font-size: 18px;
    transition: all 0.2s ease;
    border-radius: 8px;
}

//Complete button on individual task
.task-list--task-check {
    padding: 10px;
    cursor: pointer;
    color: $dark-gray;
    font-size: 18px;
    transition: all 0.2s ease;
    border-radius: 8px;
    
    &:hover {
        color: whitesmoke;
    }
}

//Delete button on individual task
.task-list--task-delete {
    padding: 10px;
    cursor: pointer;
    color: $dark-gray;
    font-size: 18px;
    transition: all 0.2s ease;
    border-radius: 8px;

    
    &:hover {
        color: whitesmoke;
    }
}

//be able to click through the icons to the button area incl. padding
.fa-trash,
.fa-check {
    pointer-events: none;
}

//Completed task styling
.completed {
    opacity: 0.5;
    border-color: $tomato-darker;
}

//Strikethrough the completed task text - not the icons
.completed li{
    text-decoration: line-through;
}

//Animation on task deletion
.delete-animation {
    z-index: -1;
    transform: translatex(160%);
    opacity: 0;

}

.white50 {
    color: $white-opacity-50;
    font-weight: 600;
}