.flex-horizontal-align {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.sm-info {
  font-size: 14px;
  color: rgba(112, 111, 111, 0.9);
}

.text-center {
  text-align: center;
}

.max-ch-60 {
  width: 60ch;
}

.mr-5 {
  margin-right: 5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.button--primary {
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0px 8px;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 8px;
}
.button--primary:hover {
  opacity: 1;
}

.button--primary-dark {
  color: #242424;
  background-color: rgba(36, 36, 36, 0.1);
  padding: 8px 8px;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 8px;
}
.button--primary-dark:hover {
  opacity: 1;
}

.button--primary-timer-start {
  width: min-content;
  color: #ec5a40;
  background-color: white;
  padding: 8px 48px;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 8px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 0px 8px #e7e7e7;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Red Hat Text", sans-serif;
}
.button--primary-timer-start:hover {
  box-shadow: 0px 8px #d8d8d8;
}
.button--primary-timer-start:active {
  font-size: 31px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown--content {
  display: none;
  position: absolute;
  right: 0%;
  margin-top: 4px;
  background-color: whitesmoke;
  min-width: 220px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(36, 36, 36, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown--item {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
  padding: 4px 8px;
  margin: 2px 0px;
  cursor: pointer;
  display: block;
}
.dropdown--item a {
  color: rgba(36, 36, 36, 0.9);
  text-decoration: none;
}
.dropdown--item:hover {
  background-color: rgba(236, 90, 64, 0.2);
}
.dropdown--item:last-child {
  margin-top: 4px;
  border-top: 1px solid rgba(236, 90, 64, 0.2);
}

.task--dropdown {
  position: relative;
  display: inline-block;
}

.dropdown--content-task {
  display: none;
  position: absolute;
  right: 0%;
  margin-top: 4px;
  background-color: whitesmoke;
  min-width: 180px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(36, 36, 36, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown--item-task {
  font-size: 14px;
  padding: 8px 8px;
  margin: 2px 0px;
  cursor: pointer;
  display: block;
}
.dropdown--item-task a {
  color: rgba(36, 36, 36, 0.9);
  text-decoration: none;
  font-family: "Red Hat Text", sans-serif;
  padding: 4px 8px;
}
.dropdown--item-task:hover {
  background-color: rgba(236, 90, 64, 0.2);
}
.dropdown--item-task:last-child {
  margin-top: 4px;
  border-top: 1px solid rgba(236, 90, 64, 0.2);
}

.show {
  display: block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: tomato;
}

input:focus + .slider {
  box-shadow: 0 0 1px tomato;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

Reset Browser Styles * {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  margin-top: 0px;
  margin-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.current-task {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0px 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.current-task--number {
  color: rgba(245, 245, 245, 0.9);
  padding-right: 16px;
  font-size: 20px;
  border-right: 1px solid #ec5a40;
}

.current-task--text {
  color: white;
  font-weight: 600;
  padding-left: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(36, 36, 36, 0.9);
  color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer a {
  text-decoration: underline;
  color: rgba(112, 111, 111, 0.9);
}
.footer .fa-js-square, .footer .fa-html5, .footer .fa-sass {
  font-size: 40px;
  margin-right: 10px;
  color: rgba(112, 111, 111, 0.9);
}

.red-full-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: tomato;
  padding-top: 5px;
  padding-bottom: 40px;
}

.header--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ec5a40;
  margin-left: auto;
  margin-right: auto;
}

.header--logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: whitesmoke;
}
.header--logo img {
  width: 22px;
  height: 22px;
}
.header--logo p {
  font-size: 18px;
  font-weight: 800;
  color: whitesmoke;
  margin-left: 4px;
}

.header--items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
}
.header--item img {
  width: 20px;
  height: 20px;
}
.header--item p {
  font-size: 16px;
  font-weight: 400;
  color: whitesmoke;
  margin-left: 8px;
  line-height: 4px;
}
.header--item:last-child {
  margin-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  margin-top: 40px;
}

.accordion-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0px 10px;
  width: 300px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.accordion-btn p {
  color: #ec5a40;
  font-weight: 600;
}
.accordion-btn:first-child {
  border-radius: 8px 8px 0px 0px;
}
.accordion-btn:last-child {
  border-radius: 0px 0px 8px 8px;
}

.panel {
  background-color: rgba(36, 36, 36, 0.9);
  color: whitesmoke;
  width: 300px;
  padding: 0px 10px;
  display: none;
  overflow: hidden;
  padding-bottom: 20px;
  line-height: 1.4em;
}
.panel h4 {
  margin-block-end: 0.5em;
}
.panel:last-child {
  border-radius: 0px 0px 8px 8px;
}

.panel-information p {
  padding: 8px 8px;
}

.panel--editable-content {
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.mb-20 {
  margin-bottom: 20px;
}

.panel--content-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.panel--content-style input {
  width: 60px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.15);
  border: 0px;
  border-radius: 8px;
  outline: rgba(36, 36, 36, 0.9);
  transition: all 0.2s ease-out;
}
.panel--content-style input:focus {
  background-color: tomato;
}

.active, .accordion-btn:hover {
  background-color: whitesmoke;
}
.active p, .active .fa-question, .active .fa-stopwatch, .active .fa-bolt, .active .fa-sticky-note, .accordion-btn:hover p, .accordion-btn:hover .fa-question, .accordion-btn:hover .fa-stopwatch, .accordion-btn:hover .fa-bolt, .accordion-btn:hover .fa-sticky-note {
  color: rgba(36, 36, 36, 0.9);
}

.fa-question, .fa-stopwatch, .fa-bolt, .fa-sticky-note {
  color: #ec5a40;
  font-size: 16px;
  transition: all 0.3s ease-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.task-list {
  display: grid;
  flex-direction: column;
}

.task-list--input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 10px 40px;
  margin-top: 10px;
}
.task-list--input input {
  width: 90%;
  font-size: 14px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid whitesmoke;
  padding: 10px;
  height: 40px;
}
.task-list--input input:focus {
  outline: none;
}
.task-list--input .task-list--addBtn {
  padding: 9px 12px;
  border: 2px solid whitesmoke;
  border-radius: 0px 8px 8px 0px;
  font-family: "Red Hat Display", sans-serif;
  color: whitesmoke;
  font-size: 14px;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.1s ease;
  background-color: #ec5a40;
}
.task-list--input .task-list--addBtn:hover {
  background-color: rgba(36, 36, 36, 0.9);
}

ul {
  padding-inline-start: 0px;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border-left: 1px solid rgba(36, 36, 36, 0.9);
  border-top: 1px solid rgba(36, 36, 36, 0.9);
  border-bottom: 1px solid rgba(36, 36, 36, 0.9);
  border-right: 1px solid rgba(36, 36, 36, 0.9);
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 37px;
  padding-right: 10px;
  color: white;
  font-family: "Red Hat Text", sans-serif;
  transition: all 0.3s ease;
}

.task-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border-left: 5px solid rgba(36, 36, 36, 0.9);
  border-top: 1px solid rgba(36, 36, 36, 0.9);
  border-bottom: 1px solid rgba(36, 36, 36, 0.9);
  border-right: 1px solid rgba(36, 36, 36, 0.9);
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 37px;
  padding-right: 10px;
  color: white;
  font-family: "Red Hat Text", sans-serif;
  transition: all 0.3s ease;
}

.task li {
  list-style: none;
  flex: 1;
}

.task-list--task-badge {
  display: inline-block;
  padding: 10px;
  color: rgba(36, 36, 36, 0.9);
  font-size: 18px;
  transition: all 0.2s ease;
  border-radius: 8px;
}

.task-list--task-check {
  padding: 10px;
  cursor: pointer;
  color: rgba(36, 36, 36, 0.9);
  font-size: 18px;
  transition: all 0.2s ease;
  border-radius: 8px;
}
.task-list--task-check:hover {
  color: whitesmoke;
}

.task-list--task-delete {
  padding: 10px;
  cursor: pointer;
  color: rgba(36, 36, 36, 0.9);
  font-size: 18px;
  transition: all 0.2s ease;
  border-radius: 8px;
}
.task-list--task-delete:hover {
  color: whitesmoke;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  opacity: 0.5;
  border-color: #ec5a40;
}

.completed li {
  text-decoration: line-through;
}

.delete-animation {
  z-index: -1;
  transform: translatex(160%);
  opacity: 0;
}

.white50 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.timer--pomodoro {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0px 40px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.timer--tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8px;
}

.timer--tab {
  color: whitesmoke;
  font-weight: 600;
  padding: 8px 8px;
  line-height: 1px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 12px 8px;
  border: 1px solid transparent;
}
.timer--tab:hover {
  cursor: pointer;
  background-color: #ec5a40;
  border-radius: 8px;
  padding: 12px 8px;
  font-weight: 600;
  line-height: 4px;
  border: 1px solid transparent;
}

.timer--tab-active {
  color: whitesmoke;
  background-color: #db4f37;
  border-radius: 8px;
  padding: 12px 8px;
  font-weight: 600;
  line-height: 4px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.timer--countdown {
  text-align: center;
  font-size: 120px;
  font-weight: 800;
  color: whitesmoke;
  text-shadow: 0px 4px #ec5a40;
  line-height: 0px;
}

/*# sourceMappingURL=main.css.map */
