
.flex-horizontal-align {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ml-40 {
    margin-left: 40px;
}

.mr-40 {
    margin-right: 40px;
}